<div class="dashboardKPI">
  <div class="row">
    <div class="col-auto">
      <p class="KPI text-muted"><%= count %></p>
    </div>
    <% if (trend > 0) { %>
    <div class="col">
      <b class="text-success">
        <i class="bi-arrow-up-right"></i>
        +<%= trend %>
      </b>
    </div>
    <% } else if (trend < 0) { %>
    <div class="col">
      <b class="text-danger">
        <i class="bi-arrow-down-right"></i>
        <%= trend %>
      </b>
    </div>
    <% } else if (trend == 0) { %>
    <div class="col">
      <span class="text-muted">
        <i class="bi-dash"></i>
        <%= trend %>
      </span>
    </div>
    <% } %>
  </div>
  <h2 class="text-muted">
    <% if (locals.icon) { %>
    <i class="bi-<%= icon %>"></i>
    <% } %><%= label %>
  </h2>
</div>
