<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neuer Nutzer!</title>
  </head>
  <body>
    <h1>✅ Jemand hat Feedback gegeben! ✅</h1>

    <p>
      <b title="<%= userEmail || 'Unbekannt' %>">
        <%= username || 'Unbekannter Nutzer' %>
      </b>
      hat eben um <%= timestamp %> Ein Feedback geben!
    </p>
    <p>
      <% for( let i = 0; i < stars; i++ ) { %> ⭐ <% } %> <%= stars %>/5 Sterne
    </p>
    <p><%= text %></p>

    <p>
      <small
        >Diese E-Mail wurde automatisch erstellt. Bitte antworte nicht auf diese
        E-Mail. Schreibe deine Antwort lieber an
        <a href="mailto:info@choreo-planer.de">info@choreo-planer.de</a>. Vielen
        Dank!</small
      >
    </p>

    <hr />

    <p>Im Auftrag von Choreo Planer</p>

    <img
      src="cid:choreo-planer-icon"
      alt="Choreo Planer Icon"
      width="100"
      height="100"
    />

    <p>
      <a href="https://www.choreo-planer.de">www.choreo-planer.de</a><br />
      <a href="mailto:info@choreo-planer.de">info@choreo-planer.de</a>
    </p>
  </body>
</html>
